/* ===============  Media Queries  =============== */

@media screen and (min-width: 1366px) {
	.container {
		max-width: 1200px;
		width: 100%;
		margin: 0 auto;
	}
	
}

@media screen and (max-width: 1400px) {
	.banner-search {
		top: 150px;
	}
}

@media screen and (max-width: 1199px) {
	.menu {
		display: none !important;
	}

	.nav {
		height: 60px;
	}

	.logo {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}

	.js-menu-btn {
		display: block;
	}

	.menumobile {
		display: block;
	}

	.banner-search {
		top: 70px;
	}

	.home-title {
		display: none;
	}

	.collection-item a {
		width: 80px;
		height: 80px;
	}

	.input-gr {
		position: relative;
		width: 100%;
	}
}

@media screen and (max-width: 991px) {
	.header {
		background-color: var(--text-color);
		position: static;
		padding: 10px 0;
	}

	.banner-search {
		position: static;
	}
	
	.home-title {
		display: block;
		color: #0c0c0c;
		font-size: 38px;
		line-height: 38px;
		padding-top: 30px;
	}

	.banner-search-wrap {
		margin-top: 30px;
	}

	.search-btn {
		display: none;
	}

	.search-btn-media {
		display: block;
		padding: 0 12px;
	}

	.search-action {
		display: none;
	}

	.search-action-media {
		display: block;
		line-height: 35px;
		right: 65px
	}

	.collection {
		width: 70%;
	}

	.collection h3 {
		color: var(--text-color)
	}

	.collection-item a {
		background-color: #82bb4e;
		border: 1px #565d61 dashed;
		border-color: #8aea32;
	}

	.collection-item:hover a {
		background-color:  var(--main-color);
	}

	.collection-item p {
		color: var(--text-color);
	}

	.product-header-menu  {
		display: block;
	}

	.product-category {
		display: none !important;
	}
}

@media screen and (max-width: 767px) {
	.hotlink {
		display: none;
	}
	.collection {
		width: 100%;
	}

	.page-heading {
		font-size: 20px;
	}

	.page-heading-main p {
		font-size: 12px;
	}
}

@media screen and (max-width: 768px) {
	.hotlink {
		top: 100px;
	}
}

@media screen and (max-width: 480px) {
	.home-title {
		font-size: 18px;
		line-height: 28px;
		color: #0c0c0c;
	}

	.search-action {
		border: none;
	}

	.search-action-media {
		right: 55px;
	}

	.advance {
		height: 82px;
		padding: 0;
	}
	
	.advance select {
		padding: 0px 25px;
	}

	.advance-inner {
		flex-wrap: wrap;
	}

	.advance-option {
		width: 50%;
		max-width: 100%;
	}

	.collection-list {
		justify-content: center !important;
		margin-left: -15px;
	}

	.collection-item {
		margin-left: 15px;
	}

	.select-item  {
		width: 150px;
	}
}
